<nav class="uk-navbar-container  uk-navbar-transparent cg-dark-sc uk-light nav" dir="ltr" >
  <div class="uk-container uk-padding">
    <div class="uk-navbar" uk-navbar="mode: click">

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">            
                    <li>2020 CGAnatomy, All Rights Reserved</li>                    
                    <% if user_signed_in? && (current_user.has_role? :admin) %>
                    <li><%= link_to 'Admin', rails_admin_path%></li>
                    <li><%= link_to 'Feeds', activities_path%></li>
                    <% end %>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li><%=image_tag("icons/twitter.svg")%></li>
                    <li><%=image_tag("icons/youtube.svg")%></li>            
                    <li><%=image_tag("icons/facebook.svg")%></li>
                </ul>

            </div>

        </nav>
    </div>
</div>


