<div class="uk-container-expand">
    <div class="cg-dark-sc">
        <div class="uk-container">
            <iframe src="https://www.youtube.com/embed/<%= @episode.video %>?rel=0&autoplay=0<%= params[:autoplay] || 0 %>" ?modestbranding="1"  allowfullscreen width="1280" height="720" uk-responsive frameborder="0" uk-video="autoplay: inview" ></iframe>
        </div>
    </div>

<div class="uk-container-expand uk-background-default">
    <div class="uk-container" >
        <div class="uk-padding-small uk-padding-remove-bottom "  uk-grid>
            <div class="uk-text-right uk-width-expand">
                <h1 class="uk-h2"><%= @episode.title %></h1>
            </div>
            <div class="uk-padding-remove-bottom uk-width-auto" id="like_<%= @episode.slug %>_likes">
                <%= render partial: "likes", locals: {episode: @episode} %>
            </div>  
                                            
            <div class="uk-text-left uk-width-auto">
                <div class="fb-share-button uk-margin-right"
                    data-href="<%= +request.fullpath %>"
                    data-layout="button" 
                    data-size="small">
                </div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-hashtags="cg anatomy" data-show-count="false"></a>
            </div>

        </div>
    </div>
    <hr>
</div>

<div class="uk-container uk-container-small uk-background-default shadow" >
    <div class="ar uk-padding">
        <p><%= @episode.body %></p>
    </div>
</div>

    <hr  class="uk-divider">
        <div class="uk-container uk-container-small uk-padding uk-background-default shadow">
            <ul class="uk-comment-list">
                <h2 class="uk-heading-line"><span>التعليقات  <span class="cg-badge" ><%= @episode.comments.count %></span></span></h2>
                
                <div class="comment-list" data-controller="comment-list">
                    <ul class="comments-list" data-target="comment-list.commentList">
                        <%= render @comments %>
                    </ul>
                    <ul class="hint" data-target="comment-list.commentErrors">
                    </ul>
                        <% if user_signed_in? %>
                            <%= form_with model: [@episode, @comment], html: { data: { type: "html", action: "ajax:success->comment-list#onPostSuccess ajax:error->comment-list#onPostError" } } do |f| %>
                                <%= f.text_area :body, data: { target: "comment-list.text" }, placeholder: "أبدأ الكتابة", class: "uk-textarea shadow uk-padding-small" %>
                                <%=image_tag("icons/image-file.svg")%> <%= f.file_field :img %>
                                <div class="uk-margin-medium-top  uk-text-bolder">
                                    <%= f.submit "أضف تعليق", class: "ar uk-button uk-button-primary uk-button-large" %>                            
                                </div>
                            <% end %>
                    <% end %>
                </div>
            </ul>            
        </div>

</div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=237891392942469&autoLogAppEvents=1" nonce="6gSvbcWR"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>