

<div class="uk-flex uk-margin uk-margin-xlarge-bottom ">
<div class="uk-margin-auto  uk-width-1-1 uk-card uk-card-default uk-card-body">
<div class="uk-container-expand">
<div class="uk-container uk-container-small uk-margin-xlarge">
  
<article class="uk-comment" dir="ltr"> 
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <div class="uk-comment-avatar">
                <%= profile_avatar(@user.profile) %>
                </div>
            </div>


            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove">
                    <% if @user.profile.first_name? %>
                    <h1 class="uk-active uk-margin-remove-bottom"><%= @user.profile.full_name %></h1>                  
                    <h5 class="uk-margin-remove-top">@<%= @user.username %></h5>
                        
                    <% else %>
                        <h1 class="uk-active"><%= @user.username %></h1>                  
                    <% end %>
                </h4>


                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><%=image_tag("icons/time.png")%>Joined <%= @user.created_at.strftime("%B %d, %Y") %></li>
                    <li><% if @user == current_user %>
                        <%= link_to edit_profile_path(current_user.profile) do %>
                            <%=image_tag("icons/edit.svg")%>                      
                        <% end %>
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
</article>
    </div>
    </div>
    </div>
    </div>
            <h5><%= @user.sign_in_count if user_signed_in? && (current_user.has_role? :admin) %></h5>
            <h5><%= @user.profile.country if user_signed_in? && (current_user.has_role? :admin) %></h5>