<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', 'https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
  </head>

  <body dir='rtl' >
      <div class="" data-controller="home" >
          <% flash.each do |type, msg| %>
          <div class="ar uk-text-center uk-padding-small <%= type %> uk-width-expand" data-target="home.notice">
            <%= msg %>
          </div>
        <% end %>
      </div>
      
       <%= render "shared/header" %>
    <%= yield %>
       <%= render "shared/footer" %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f0fbe7a9bcb132b"></script>

  </body>
</html>
